<!doctype html>
<html lang="en">
<head>
    <title>{{service}} - {{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body class="bg-white font-family-karla h-screen">
    <div class="w-full flex justify-center">
        <div class=" z-10 md:w-md flex justify-center bg-white w-full m-10 p-4 rounded">
          <div class="flex flex-col justify-center my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
            <h2 class="text-2xl font-semibold text-gray-700 text-center">{{service}}</h2>
            <p class="text-xl text-gray-600 text-center">Authorization</p>
            {{scope}}

            <form action="{{url}}" method="POST">
              <div class="mt-8">
                  <button type="submit" class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600">Authorize</button>
                  <a href="/" class="button block mt-1 text-center py-2 px-4 w-full bg-transparent hover:bg-gray-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded">Cancel</a>
              </div>
            </form>
          </div>

        </div>
      
      <img class="absolute object-cover w-full h-screen hidden md:block" src="https://source.unsplash.com/IXUM4cJynP0">
    </div>

</body>
</html>
